
ul
{
    list-style-type:none;
    padding:0;
    margin:0;
}
ul li
{
    display:inline;
    
}
ul li a
{

    text-decoration:none;
    background-color:#C60;
    color:#FFF;
    padding:10px 20px 10px 20px;
    
}
ul li a:hover
{
    background-color:#C00;

}
